<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Eggdificio</title>
  <!-- Bootstrap Stylesheet -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
</head>

<style>
  :root {
    /*variables*/
    --orange: #f69065;
  }

  .card {
    /*todo lo que empieza con un punto es una clase */
    display: flex;
    margin: 5rem;
    padding: 1rem;
  }

  body {
    

  }

  .btn-primary {
    background-color: var(--orange);
    border: none;
    margin-top: 0.5rem;
  }

  a {
    color: var(--orange)
  }
  </style>

<body>
  <h1>Eggpensas</h1>

  <div class="container"></div>
  
  <h2>Gastos Eggdinarios</h2>

  <table>
    <tr>
      <th>
        <strong>Categorias</strong>
      </th>

      <th>
        <strong>Costo</strong>
      </th>

      <th>
        <strong>Comprobante</strong>
      </th>

    </tr>
    <td>Gas</td>
    <td>1000</td>
    <td> </td>

    </tr>
  </table>
</div>

  


</body>

</html>