<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/53584266fb.js" crossorigin="anonymous"></script>

  <title>Eggdificio</title>
  <!-- Bootstrap Stylesheet -->
  <link href="estilos.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
</head>

<style>
  header {
    background: orange;
  }
</style>

<h1>Eggpensas</h1>
<body>
  <div class="container"></div>

  <h2>Gastos Eggdinarios</h2>

  <form>
    <div class="form-group">
      <label for="exampleInputTax">Buscar:</label>
      <input type="text" class="form-control" placeholder="" required />
    </div>
  </form>

  <table>
    <tr>
      <th>
        <strong>Categorias</strong>
      </th>

      <th>
        <strong>Costo</strong>
      </th>

      <th>
        <strong>Comprobante</strong>
      </th>

    </tr>
    <td>Gas</td>
    <td>1000</td>
    <td> </td>

    </tr>
  </table>

  <h2>Gastos Eggtraordinarios</h2>
  <form>
    <div class="form-group">
      <label for="exampleInputTax">Buscar:</label>
      <input type="text" class="form-control" placeholder="" required />
    </div>

  </form>

  <table>
    <tr>
      <th>
        <strong>Categorias</strong>
      </th>

      <th>
        <strong>Costo</strong>
      </th>

      <th>
        <strong>Comprobante</strong>
      </th>

    </tr>
    <td>Gas</td>
    <td>1000</td>
    <td><button><i class="fas fa-angle-down"></i></button></td>

    </tr>
  </table>



</body>

</html>