@import url(./navbar.css);
@import url(./footer.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Shippori+Antique&display=swap');

:root {
--orange: #f69065;
--darkBlue: rgb(23, 31, 42);
--grey: rgb(230,230,230);

/* Esta paleta de colores me gustó más */
--violet: #583bb6;
--light-blue: #6ea6b6;
--cream: #e8d5b5;

/* paleta */
--lightviolet: #C9A6E6;
--aqua: #00C7C6;
}



/* ****************************** */
/* clases para dar estilo general */
/* ****************************** */

.violet-text{
  color: var(--violet);
}
.orange-text {
  color: var(--orange);
}
.blue-text {
  color: var(--darkBlue);
}
.light-blue-text {
  color: var(--light-blue);
}
.white-text {
  color: white;
}

.violet-background {
  background-color: var(--violet);
}
.orange-background {
  background-color: var(--orange);
}
.blue-background {
  background-color: var(--darkBlue);
}
.light-blue-background {
  background-color: var(--light-blue);
}
.cream-brackground {
  background-color: var(--cream);
}

.primary-btn {
  background-color: var(--orange);
  color: var(--darkBlue);
}
.primary-btn:hover {
  background-color: var(--darkBlue);
  color: var(--orange);
}

.secondary-btn {
  background-color: var(--darkBlue);
  color: var(--orange);
}
.secondary-btn:hover {
  background-color: var(--orange);
  color: var(--darkBlue);
}

.link {
  text-decoration: none;
}

.icono {
  font-size: 1.5rem;
}

/* ********************** */

section.main-section{
  min-height: calc(100vh - 115px - 56px);
}
thead {
  background:var(--orange);
  color: white;
}

h1 {
  color: var(--orange);
  font-family: 'Shippori Antique', sans-serif;
}
h2{
  color: var(--orange);
}
h3 {
  color: var(--orange);
  font-size: medium;
}

.icono {
  background-color: transparent;
  color: var(--orange);
  border: none;

}

body,html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--grey) !important;
  }

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color:transparent;
  border-radius: 30px;
  padding: 9px;
  color: var(--darkBlue);
  }

.search_input{
  color: var(--darkBlue);
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  font-family: 'Shippori Antique', sans-serif;
  }

.searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:var(--darkBlue);
  transition: width 0.4s linear;
  }

.searchbar:hover {
  color:var(--darkBlue);
  }

.search_icon{
  padding: 0em;
  float: right;
  justify-content: left;
  color:var(--darkBlue);
  border-radius: 50%;
  }

  /* expensas vista admin */
#periodo-actual {
  color: #000;
}

#periodo-actual-numero {
  color: #fff;
  background-color: var(--orange);
  border-radius: 5%;
  padding: 5px;
}

/* COPIE ACA EL STYLE DE AGREGAR DEPTO */
#agregar-deptos-container {
  background-color: var(--orange);
  margin-top: 2rem;
  color: white;
  font-weight: 600;
}
#botonAbajo {
  background-color: var(--orange);
  border: none;
  float: right;
  margin-right: 70px;
  margin-top: 35rem;
  font-size: 30px;
  font-family: 'Shippori Antique', sans-serif;

}

#botonAbajo:hover {
  background-color: var(--darkBlue);
  border: none;
  float: right;
  margin-right: 70px;
  margin-top: 35rem;
  font-size: 30px;
  font-family: 'Shippori Antique', sans-serif;
}
  .sub-btn{
  font-size: 70px;
  font-family: 'Shippori Antique', sans-serif;
}

.btn-secondary {
  background-color: white;
  border: none;
  margin-top: 0.5rem;
  color: var(--orange);
  font-weight: 600;
}

.btn-secondary:hover {
  background-color: var(--orange);
  border: none;
  margin-top: 0.5rem;
}

.btn-icon {
  background-color: white;
  border: none;
  margin-top: 0.5rem;
  font-weight: 600;
}
.btn-icon:hover {
  color: var(--orange);
  border: none;
  margin-top: 0.5rem;
}
