<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/53584266fb.js" crossorigin="anonymous"></script>

    <title>Eggdificio</title>
    <!-- Bootstrap Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/navbar.css">
</head>


<body>

<div id="app" v-cloaks>
    <navbar :backBtn="true" :backBtnRef="'verEdificios.html'" class="navbar"></navbar>
</div>
    <head>
        <h1>Eggpensas</h1>
    </head>

    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>

    <!-- LIQUIDACION  -->
    <div class="container">
        <h2>LIQUIDACION</h2>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th> Categorias </th>
                        <th> Periodo </th>
                        <th> Costo </th>
                        <th> Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Gas </td>
                        <td> Agosto </td>
                        <td> 234 </td>
                        <td> <button type="button" class="icono fas fa-angle-down"></button> </td>
                        <td> <button type="button" class="btn btn-light">Editar</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h2>Gastos totales del periodo: </h2>

            <!-- Total gastos x depto -->
    <div class="container">
        <h2>Gastos por departamento</h2>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th> departamento </th>
                        <th> Periodo </th>
                        <th> Total </th>
                        <th> % participación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 1 1 </td>
                        <td> Agosto </td>
                        <td> 234 </td>
                        <td> 10% </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="https://unpkg.com/vue@next"></script>

        <script src="js/VueApp.js"></script>
</body>

</html>