@import url(./navbar.css);
@import url(./footer.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Shippori+Antique&display=swap');

:root {
--orange: #f69065;
--darkBlue: #171F2A;
--grey: #E6E6E6;

}
section.main-section{
  min-height: calc(100vh - 115px - 56px);
}
thead {
  background:var(--orange);
  color: white;
}

h1 {
  color: var(--orange);
  font-family: 'Shippori Antique', sans-serif;
}
h2{
  color: var(--orange);
}
h3 {
  color: var(--orange);
  font-size: medium;
}

.icono {
  background-color: transparent;
  color: var(--orange);
  border: none;
  
}

body,html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--grey) !important;
  }

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color:transparent;
  border-radius: 30px;
  padding: 9px;
  color: var(--darkBlue);
  }

.search_input{
  color: var(--darkBlue);
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  font-family: 'Shippori Antique', sans-serif;
  }

.searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:var(--darkBlue);
  transition: width 0.4s linear;
  }

.searchbar:hover {
  color:var(--darkBlue);
  }

.search_icon{
  padding: 0em;
  float: right;
  justify-content: left;
  color:var(--darkBlue);
  border-radius: 50%;
  }

  /* expensas vista admin */
#periodo-actual {
  color: #000;
}

#periodo-actual-numero {
  color: #fff;
  background-color: var(--orange);
  border-radius: 5%;
  padding: 5px;
}

/* COPIE ACA EL STYLE DE AGREGAR DEPTO */
#agregar-deptos-container {
  background-color: var(--orange);
  margin-top: 2rem;
  color: white;
  font-weight: 600;
}
.btn-primary {
  background-color: var(--orange);
  border: none;
  margin-top: 0.5rem;
}


.btn-secondary {
  background-color: white;
  border: none;
  margin-top: 0.5rem;
  color: var(--orange);
  font-weight: 600;
}

.btn-secondary:hover {
  background-color: var(--orange);
  border: none;
  margin-top: 0.5rem;
}

.btn-icon {
  background-color: white;
  border: none;
  margin-top: 0.5rem;
  font-weight: 600;
}
.btn-icon:hover {
  color: var(--orange);
  border: none;
  margin-top: 0.5rem;
}

  